<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.my.springstart.mapper.StudentMapper">
    <insert id="add" parameterType="org.my.springstart.entity.Student">
        INSERT INTO student
        (id, name, no, gender, phone, id_card, is_college, address, degree, graduation_date, clazz_id, violation_count, violation_score, create_time, update_time)
        VALUES
        (null, #{name}, #{no}, #{gender}, #{phone}, #{idCard}, #{isCollege}, #{address}, #{degree}, #{graduationDate}, #{clazzId}, #{violationCount}, #{violationScore}, NOW(), NOW())
    </insert>
    <update id="update" parameterType="org.my.springstart.entity.Student">
        UPDATE student
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="no != null">no = #{no},</if>
            <if test="clazzId != null">clazz_id = #{clazzId},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="isCollege != null">is_college = #{isCollege},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="violationCount != null">violation_count = #{violationCount},</if>
            <if test="violationScore != null">violation_score = #{violationScore},</if>
            <if test="address != null">address = #{address},</if>
            <if test="graduationDate != null">graduation_date = #{graduationDate},</if>
            <if test="degree != null">degree = #{degree},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>
    <select id="list" resultType="org.my.springstart.entity.Student">
        select s.*, c.name clazzName from student s left join clazz c on s.clazz_id = c.id
        <where>
            <if test="name != null and name != ''">
                s.name like concat('%',#{name},'%')
            </if>
            <if test="degree != null">
                and s.degree = #{degree}
            </if>
            <if test="clazzId != null">
                and s.clazz_id = #{clazzId}
            </if>
        </where>
        order by s.update_time desc
    </select>
    <select id="getStudentDegreeData" resultType="java.util.Map">
        select  (case degree
        when 1 then '初中'
        when 2 then '高中'
        when 3 then '大专'
        when 4 then '本科'
        when 5 then '硕士'
        else '博士' end) name,
        count(*)  value
        from student
        group by degree
    </select>
</mapper>
